/* Text Block */
.textblock {
    margin: 10px;
}

p {
    margin-bottom: 16px;
}


/* Lists */
#jqt ul.edgetoedge li.list-divider {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #999;
    color: #FFF;
    text-shadow: none;
}

#jqt ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Branding */
#jqt .toolbar {
    background: -webkit-linear-gradient(#ff3334, #ac2122);
    border-bottom-color: #911c1c;
}

#jqt .toolbar h1 {
    color: #FFF;
    text-shadow: rgba(0,0,0,0.5) 0 -1px;
}

#jqt .back {
    background: -webkit-linear-gradient(#e52e2e, #911c1c);
    color: #FFF;
    text-shadow: rgba(0,0,0,0.5) 0 -1px;
    border-color: #611313;
    box-shadow:
        rgba(0,0,0,0.3) 0 1px 1px inset,
        rgba(255,255,255,0.5) 0 1px;
}
