/* Text Block */
.textblock {
    margin: 10px;
}

p {
    margin-bottom: 16px;
}


/* Lists */
#jqt ul.edgetoedge li.list-divider {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #999;
    color: #FFF;
    text-shadow: none;
}

#jqt ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Branding */
#jqt .toolbar {
    background: -webkit-linear-gradient(#ff3334, #ac2122);
    border-bottom-color: #911c1c;
}

#jqt .toolbar h1 {
    color: #FFF;
    text-shadow: rgba(0,0,0,0.5) 0 -1px;
}

#jqt .back, #jqt .button {
    background: -webkit-linear-gradient(#e52e2e, #911c1c);
    color: #FFF;
    text-shadow: rgba(0,0,0,0.5) 0 -1px;
    border-color: #611313;
    box-shadow:
        rgba(0,0,0,0.3) 0 1px 1px inset,
        rgba(255,255,255,0.5) 0 1px;
}

#jqt .back.active, #jqt .button.active {
    background: -webkit-linear-gradient(#cc2929, #781717);
    color: #fcb8b8;
    text-shadow: rgba(0,0,0,0.5) 0 -1px;
    border-color: #470e0e;
}

#jqt ul {
    background: #FFF;
    box-shadow: rgba(0,0,0,0.2) 0 1px 1px;
}

#jqt > * {
    background-image: url('bg.png');
}

@media screen and (-webkit-min-device-pixel-ratio: 1.2) {
    #jqt > * {
        background-image: url('bg@2x.png');
        background-size: 100px 100px;
    }
}


/* Concerts */

#jqt #konzerte .date {
    color: #ac2122;
    width: 64px;
    float: left;
}

#jqt #konzerte .venue, #jqt #konzerte .location {
    font-size: 14px;
}

#jqt #konzerte .venue {
    color: #000;
}

#jqt #konzerte .location {
    font-weight: normal;
}


/* Snapshot */

#jqt .button.snap span {
    display: block;
    width: 24px;
    height: 18px;
    margin-top: 6px;
    background: white;
    -webkit-mask-image: url('camera@2x.png');
    -webkit-mask-size: 24px 18px;
}

#jqt .button.snap.active span {
    background: #fcb8b8;
}


/* Compass/Logo */
#logo {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0px auto;
}