body {
    font-family: "Helvetica Neue";
}

header {
    height: 44px;
    background: -webkit-linear-gradient(
        rgba(255,255,255,0.85) 1px,
        #becbdd 1px,
        #587397 43px,
        #3f5c80 43px
    );
}

h1 {
    color: white;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 42px;
    text-shadow: rgba(0,0,0,0.5) 0 -1px;
}

nav {
    margin: 10px;
}
